.submitButton{
    background: black;
    outline: none;
    border-radius: 2px;
    padding: 0.8em 1.5em;
    border: none;
    font-weight: bold;
    color: rgb(221, 221, 221);
}

.submitButton:disabled{
    background: grey;
}
